<template>
  <form :method="spoofMethod"
    :action="action"
    @submit.prevent="handleSubmission"
    @keyup.ctrl.enter="triggerSubmit"
    @input="clearValidationError"
  >
    <input type="hidden" name="_method" v-if="spoofMethod !== upperMethod" :value="upperMethod" />
    <input v-for="(additionalValue, additionalName) in flatten(additional)" :key="additionalName" type="hidden" :name="additionalName" :value="additionalValue">
    <input v-for="(adhocValue, adhocName) in flatten(adhocData)" :key="adhocName" type="hidden" :name="adhocName" :value="adhocValue">

    <slot :loading="loading" :submit="manualSubmit" :adhocData="adhocData" :errorBag="errorBag"></slot>
  </form>
</template>

<script>
import qs from 'qs'
import ErrorBag from '../libs/error-bag'

export default {
  props: {
    method: {
      type: String,
      default: 'POST',
    },
    action: String,
    handler: Function,
    options: {
      type: Object,
      default: () => {}
    },
    redirect: [Boolean, String, Object],
    additional: {
      type: Object,
      default: () => {}
    },
  },
  data() {
    return {
      adhocData: {},
      loading: false,
      errorBag: new ErrorBag,
    }
  },
  computed: {
    spoofMethod() {
      return (this.upperMethod == 'GET' || this.upperMethod == 'POST') ? this.upperMethod : 'POST'
    },
    upperMethod() {
      return this.method.toUpperCase()
    },
  },
  
  methods: {

    handleSubmission(e) {
      if (document.activeElement != document.body) {
        document.activeElement.blur()
      }
      if (this.handler) {
        return this.handler(e, this)
      }
      this.apiSubmission().catch(() => {})
    },

    generateApiOptions() {
      let formData = new FormData(this.$el),
        options = _.merge({
          data: formData,
        }, this.apiOptions)
      if (this.spoofMethod === 'GET') {
        options.params = qs.parse(decodeURI((new URLSearchParams(formData)).toString()))
      }
      return options
    },

    apiSubmission() {
      return new Promise((resolve, reject) => {
        this.loading = true
        this.$nextTick(async () => {
          
          let options = this.generateApiOptions()
          this.$emit('pre-submit', options, this)

          try {
            let response = await this.$api.request(this.spoofMethod, this.action, options)
            resolve(response.data, response)
            this.errorBag.clear()
            this.$emit('success', response.data, response, this)
            if (this.redirect) {
              this.$redirect(this.redirect)
              return
            }
            this.$nextTick(() => this.loading = false)
          } catch (error) {
            reject(error)
            let { message, detail, response } = error
            if (! response) {
              this.$emit('network-error', error, this)
              this.$emit('error', error, this)
            } else if (response.data.status === 'invalid') {
              this.errorBag.fill(response.data.errors)
              this.$emit('invalid', error, this)
            } else {
              this.$emit('server-error', error, this)
              this.$emit('error', error, this)
            }
            this.$emit('fail', error, this)
            this.$nextTick(() => this.loading = false)
          }
        })
      })
    },

    flatten(data, prefix = '') {
      return _.reduce(data, (flattened, value, key) => {
        key = prefix ? `${prefix}[${key}]` : key
        if (value instanceof Object) {
          flattened = _.assign(flattened, this.flatten(value, key))
        } else {
          flattened[key] = value
        }
        return flattened
      }, {})
    },

    manualSubmit(adhocData = {}) {
      this.adhocData = _.cloneDeep(adhocData)
      this.$nextTick(() => {
        let manualSubmitButton = this.$el.ownerDocument.createElement('button')
        manualSubmitButton.type = 'submit'
        manualSubmitButton.style.display = 'none'
        this.$el.appendChild(manualSubmitButton).click()
        this.$el.removeChild(manualSubmitButton)
      })
    },

    clearValidationError(e) {
      let field = _.get(e, '$vm.name', e.target.name)
      if (field) {
        if (field.endsWith('[]')) {
          field = _.trimEnd(field, '[]')
        }
        this.errorBag.clear(field)
      }
    }
  },
  mounted() {
    this.$on('submit', this.manualSubmit)
  },
}
</script>