<template>
  <div id="app">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <router-link to="/" class="navbar-item">
            <strong>Job App</strong>
          </router-link>
          <a @click.prevent="toggleMenu = !toggleMenu" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" :class="{'is-active': toggleMenu}">
          <div class="navbar-start">
          </div>
          <div class="navbar-end">
            <template v-if="isLoggedIn">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" v-text="currentUser.name"></a>
                <div class="navbar-dropdown ">
                  <a href="#" @click.prevent="attemptLogout" class="navbar-item">
                    Logout
                  </a>
                </div>
              </div>
            </template>
            <template v-else>
              <router-link @click.native="toggleMenu = false" to="/register" class="navbar-item">
                Register
              </router-link>
              <router-link @click.native="toggleMenu = false" to="/login" class="navbar-item">
                Login
              </router-link>
            </template>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div class="container">
        <router-view/>
      </div>
    </main>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Toggle from '@/components/Toggle'

export default {
  components: { Toggle },
  data() {
    return {
      toggleMenu: false
    }
  },
  computed: {
    ...mapGetters('auth', ['isLoggedIn', 'currentUser'])
  },
  methods: {
    ...mapActions('auth', ['logout']),
    async attemptLogout() {
      await this.logout()
      this.$router.push('/login')
    }
  }
}
</script>