<template>
  <div>
    <section class="section">
      <div class="columns">
        <div class="column is-10">
          <h1 class="title">Jobs</h1>
        </div>
        <div class="column" v-if="isLoggedIn">
          <button type="button" class="button is-primary" @click="editingJob = {status: 'OPEN'}">
            New Job
          </button>
        </div>
      </div>
      <fetch-listing url="/api/jobs" accumulate ref="listing">
        <div slot-scope="{fetchNext, list, meta, loading}">
          <div class="card" style="margin-bottom:1rem" v-for="job in list" :key="job.id">
            <header class="card-header">
              <p class="card-header-title">
                
                <span v-text="job.title"></span>
                <small style="margin-left:.5rem" v-text="'('+job.location+')'"></small>
              </p>
              <span class="card-header-icon">
                <span v-if="job.status === 'OPEN'" class="tag is-success">Open</span>
                <span v-else class="tag is-danger">Closed</span>
              </span>
            </header>
            <div class="card-content">
              <div class="content">
                <p v-text="job.description"></p>
                <time :datetime="job.created_at" v-text="job.created_at"></time>
              </div>
            </div>
            <footer class="card-footer" v-if="isLoggedIn">
              <a href="#" @click.prevent="editJob(job)" class="card-footer-item">Edit</a>
              <a href="#" @click.prevent="deleteJob(job)" class="card-footer-item">Delete</a>
            </footer>
          </div>

          <button type="button" @click="fetchNext()" 
            v-if="meta.current_page < meta.last_page"
            class="button is-outlined is-primary is-fullwidth"
            :class="{'is-loading': loading}"
          >
            Load More
          </button>
        </div>
      </fetch-listing>
    </section>

    <div v-if="editingJob" class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title" v-text="editingJob.id ? 'Edit Job' : 'New Job'"></p>
          <button class="delete" @click="editingJob = null" aria-label="close"></button>
        </header>
        <api-form :method="editingJob.id ? 'PUT':'POST'" 
          :action="editingJob.id ? `/api/jobs/${editingJob.id}`: '/api/jobs/'"
          @success="$refs.listing.fetch(true), editingJob = null"
        >
          <template slot-scope="{ loading, errorBag }">
            <section class="modal-card-body">

              <div class="field">
                <label class="label">Title</label>
                <div class="control">
                  <input class="input" :class="{'is-danger':errorBag.has('title')}" maxlength="200" type="text" name="title" v-model="editingJob.title">
                </div>
                <p v-if="errorBag.has('title')" class="help is-danger" v-text="errorBag.first('title')"></p>
              </div>


              <div class="field">
                <label class="label">Location</label>
                <div class="control">
                  <input class="input" :class="{'is-danger':errorBag.has('location')}" maxlength="200" type="text" name="location" v-model="editingJob.location">
                </div>
                <p v-if="errorBag.has('location')" class="help is-danger" v-text="errorBag.first('location')"></p>
              </div>

              <div class="field">
                <label class="label">Description</label>
                <div class="control">
                  <textarea class="textarea" :class="{'is-danger':errorBag.has('description')}" maxlength="1000" name="description" v-model="editingJob.description"></textarea>
                </div>
                <p v-if="errorBag.has('description')" class="help is-danger" v-text="errorBag.first('description')"></p>
              </div>

              <div class="field">
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="status" value="OPEN" v-model="editingJob.status">
                    Open
                  </label>
                  <label class="radio">
                    <input type="radio" name="status" value="CLOSED" v-model="editingJob.status">
                    Closed
                  </label>
                </div>
                <p v-if="errorBag.has('status')" class="help is-danger" v-text="errorBag.first('status')"></p>
              </div>

            </section>
            <footer class="modal-card-foot">
              <button type="submit" class="button is-success" :class="{'is-loading':loading}">Save</button>
              <button type="button" class="button" @click="editingJob = null">Cancel</button>
            </footer>
          </template>
        </api-form>
      </div>
    </div>
  </div>
</template>

<script>
import FetchListing from '@/components/FetchListing'
import ApiForm from '@/components/ApiForm'
import Api from '@/libs/api'
import { mapGetters } from 'vuex'

export default {
  components: { FetchListing, ApiForm },
  data: () => ({
    editingJob: null,
  }),
  computed: {
    ...mapGetters('auth', ['isLoggedIn'])
  },
  methods: {
    editJob(job) {
      this.editingJob = {...job}
    },
    async deleteJob(job) {
      await Api.delete(`/api/jobs/${job.id}`)
      this.$refs.listing.fetch(true)
    }
  },
  mounted() {
    this.$refs.listing.fetch(true)
  }
}
</script>
