<template>
  <div>
    <section class="section">
      <h1 class="title">Login</h1>
      <form @submit.prevent="attempt">
        <div v-if="error" class="notification is-danger">
          <p v-if="typeof error === 'string'" v-text="error"></p>
          <ul v-else>
            <li v-for="(error, errorIndex) in error" 
              :key="errorIndex" 
              v-text="error.join('')"
            ></li>
          </ul>
        </div>
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" v-model="email" placeholder="Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" v-model="password" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-success" :class="{'is-loading': loading}">
              Login
            </button>
          </p>
        </div>
      </form>
    </section>
    
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data: () => ({
    email: null,
    password: null,
  }),
  computed: {
    ...mapGetters('auth', ['loading', 'error'])
  },
  methods: {
    ...mapActions('auth', ['login']),
    async attempt() {
      try {
        await this.login({ email: this.email, password: this.password })
        this.$router.push('/')
      } catch (error) {
        this.password = null
        throw error
      }
    }
  }
}
</script>
